h2 {
    font-family: 'comic sans ms';
    font-weight: 800;
    font-size: 45px;
    margin-bottom: 20px;
    color: #364f6b;
    width: 100%;
    line-height: 50px;
    
}

h3 {
    font-weight: bold;
}

.tulisan{
    color: #8eb30b;
}

